altair
argon2-cffi
astor
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
fonttools
gitdb
GitPython
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lime
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
pywin32;platform_system == "Windows"
pywinpty
pyzmq
requests
scikit-image
scikit-learn
scipy
Send2Trash
setuptools-scm
six
sklearn
smmap
streamlit
terminado
testpath
threadpoolctl
tifffile
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
xgboost
